doctype html
html(lang="en")
    head
        title= title
        link(rel="stylesheet", href= "https://dcatcher.me/assetspb" + constants.URL + "/css/main.min.css", type="text/css")
        meta(name="viewport", content="width-device-width, initial-scale=1")
        meta(name="theme-color", content="#188bee")
        link(rel="stylesheet", href= "https://use.fontawesome.com/1b61713aa1.css", type="text/css")
        link(rel="icon", type="image/x-icon", href="/assets/favicon.png")
    body
        include sidebar.pug
        main
            div.topBar
                div.top
                    span.mainTitle
                        i= current.shortened
                        span= current.name
                        span.padding
                        span.num-badge= words.length
                    div.buttons
                        a(href=constants.URL +"/words/new?c=" + current._id).button Add new word
                        if (current.pinned)
                            a(href=constants.URL +"/category/pin?c=" + current._id).button.pinned
                                i.fa.fa-fw.fa-circle
                        else
                            a(href=constants.URL +"/category/pin?c=" + current._id + "&p=true").button.pin
                                i.fa.fa-fw.fa-thumb-tack.fa-rotate-45
                        form(onkeypress="return event.keyCode != 13;").searchBox
                            input(type="hidden", id="username", value= s.username)
                            input(type="hidden", id="shortenedLanguage", value= s.currentlanguage.shortened)
                            input(type="text", placeholder="Search", id="search" autofocus).search
                            input(type="hidden", value=current._id, id="category")

            div.content
                div(class="wbtitle").wordBlock
                    span.lang
                        h1= s.currentlanguage.language
                    span.padding
                    span.english
                        h1 English
                div(class="wbadd").wordBlock
                    span.addnew
                        a(href=constants.URL +"/app/words/new?c=" + current._id) Add new
                            i.fa.fa-fw.fa-plus
                            //- span Add new
                div.allWords
                    each val in words
                        div.wordBlock
                            span.lang= val.word
                            span.padding
                            span.english= val.translations

        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/external/jquery/jquery.js")
        script(src="https://dcatcher.me/assetspb" + constants.URL + "/js/dropdown.js")
        script(src="https://dcatcher.me/assetspb" + constants.URL + "/js/search.js")
        script(src="https://dcatcher.me/assetspb" + constants.URL + "/js/comma.js")
        script(src="https://dcatcher.me/assetspb" + constants.URL + "/js/sidebar.js")
