doctype html
html(lang="en")
    head
        title= title
        link(rel="stylesheet", href= "https://dcatcher.me/assetspb" + constants.URL + "/css/main.min.css", type="text/css")
        meta(name="viewport", content="width-device-width, initial-scale=1")
        meta(name="theme-color", content="#188bee")
        link(rel="stylesheet", href= "https://use.fontawesome.com/1b61713aa1.css", type="text/css")
        link(rel="icon", type="image/x-icon", href="/assets/favicon.png")
    body
        include sidebar.pug
        main
            div.topBar
                div.top
                    span.mainTitle
                        i L
                        span Change Language
            div.content
                ul.categoryList
                    each lang in u.languages
                        li
                            if (lang.shortened == s.currentlanguage.shortened)
                                a(href=constants.URL +"/changelanguage?langShort=" + lang.shortened).active
                                    img(class="languageIcon", src="//dcatcher.me/assets/" + lang.shortened + ".svg", alt= lang.shortened)
                                    span.languageName= lang.language
                            else
                                a(href=constants.URL +"/changelanguage?langShort=" + lang.shortened)
                                    img(class="languageIcon", src="//dcatcher.me/assets/" + lang.shortened + ".svg", alt= lang.shortened)
                                    span.languageName= lang.language


        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/external/jquery/jquery.js")
        script(src="https://dcatcher.me/assetspb" + constants.URL + "/js/dropdown.js")
        script(src="https://dcatcher.me/assetspb" + constants.URL + "/js/search.js")
