doctype html
html(lang="en")
    head
        title= title
        link(rel="stylesheet", href= "/assetspb" + constants.URL + "/css/main.min.css", type="text/css")
        meta(name="viewport", content="width-device-width, initial-scale=1")
        link(rel="stylesheet", href= "https://use.fontawesome.com/1b61713aa1.css", type="text/css")
        link(rel="icon", type="image/x-icon", href="/assets/favicon.png")
    body
        include sidebar.pug
        main
            div.topBar
                div.top
                    if m
                        span.mainTitle
                            span Welcome to Phrasebook!
                            span.subtext Please choose a language to start collecting.
                        div.buttons
                            a(href=constants.URL +"/logout").button.bgRed
                                i(class="fa fa-fw fa-sign-out")
                                span Logout
                    else
                        span.mainTitle
                            i(class="fa fa-fw fa-plus")
                            span Add a new Language
            form(method="post", action=constants.URL +"/app/newlanguage").invisible-form
                div.content-language-select
                    div.language-selector
                        if (langs.length > 0)
                            each lang in langs
                                div.language-block
                                    span.language-title= lang.language
                                    img(src= "//dcatcher.me/assets/" + lang.shortened + ".svg", alt= lang.shortened).language-icon
                                    span.hidden= lang.shortened
                        else
                            span(style="color: #d12929").mainTitle There are no languages to choose from
                div.submit-section
                    input(type="hidden", value="", name="langVal")#langVal.langVal

        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/external/jquery/jquery.js")
        script(src="/assetspb" + constants.URL + "/js/dropdown.js")
        script(src="/assetspb" + constants.URL + "/js/languagePicker.js")
        script(src="/assetspb" + constants.URL + "/js/sidebar.js")
