div.language-picker
    div.container
        div.container-title
            i.fa.fa-fw.fa-globe
            span Change Language
        div.language-selector
            each val in u.languages
                if (val.shortened != s.currentlanguage.shortened)
                    a(href="/phrasebook/app/changelanguage?langShort=" + val.shortened).language-block
                        span.language-title= val.language
                        img(src="//dcatcher.me/assets/" + val.shortened + ".svg").language-icon

nav.sidebar(class=s.sidebar === "small" ? "small" : "")
    div.user-section
        ul.section
            li.drop
                a(href='#', class='userIcon')
                    div.userSection
                        img(class="icon", src= u.profile_icon, alt="profile icon")
                        img(class="flag", src= "//dcatcher.me/assets/" + s.currentlanguage.shortened + ".svg", alt="Language Flag")
                    span= `${u.firstname} ${u.lastname.substring(0, 1)}.`
                    span.sticky-push
                    img(class="rot arrow", src="//dcatcher.me/testing/sidebar/downarrow.svg", alt="toggle")
        ul.dropdown-elements
            //- li(class="hide hidden")
            //-     a(href="#")
            //-         i(class="fa fa-fw fa-user")
            li(class="hide hidden")
                a(href="/phrasebook/settings")
                    i(class="fa fa-fw fa-cog")
            li(class="hide hidden")
                a(href="/phrasebook/logout").logout
                    i(class="fa fa-fw fa-sign-out")

    ul.main
        li.navSubheading Main
        li
            if (selected == "overview")
                a(href="/phrasebook/app").active
                    i(class="fa fa-fw fa-home")
                    span Overview
            else
                a(href="/phrasebook/app")
                    i(class="fa fa-fw fa-home")
                    span Overview

        li
            if (selected == "allwords")
                a(href="/phrasebook/app/words").active
                    i(class="fa fa-fw fa-clock-o")
                    span All Words
            else
                a(href="/phrasebook/app/words")
                    i(class="fa fa-fw fa-clock-o")
                    span All Words
    ul.categories
        li.navSubheading Categories
        each category in s.categories
            if (category.pinned)
                li
                    if (selected == "category" + category._id)
                        a(href="/phrasebook/app/category?c=" + category._id).active
                            i= category.shortened
                            span= category.name
                            span.sticky-push
                            span.counter= category.words
                    else
                        a(href="/phrasebook/app/category?c=" + category._id)
                            i= category.shortened
                            span= category.name
                            span.sticky-push
                            span.counter= category.words
        if (selected == "categories")
            li
                a(href="/phrasebook/app/categories", class="addNewCategory").all.active
                    i(class="fa fa-list fa-fw")
                    span.all All Categories
        else
            li
                a(href="/phrasebook/app/categories", class="addNewCategory").all
                    i(class="fa fa-list fa-fw")
                    span.all All Categories
        if (selected == "newcategory")
            li
                a(href="/phrasebook/app/category/new", class="addNewCategory").active
                    i(class="fa fa-plus fa-fw")
                    span Add new
        else
            li
                a(href="/phrasebook/app/category/new", class="addNewCategory")
                    i(class="fa fa-plus fa-fw")
                    span Add new
    div.sticky-push
    ul.languages.dropDown
        li.navSubheading Language
        li
            a(href="#",id="language-change-link").currentlanguage
                img(class="languageIcon", src="//dcatcher.me/assets/" + s.currentlanguage.shortened + ".svg", alt="current language")
                span Change Language
        li
            a(href="#").shrink
                img(class="rot arrow rot-180 hideBar", src="//dcatcher.me/testing/sidebar/downarrow.svg", alt="hide")
                span Hide Navigation Bar

nav.sideBarMOB
    ul
        li
            a(href="/phrasebook/app/user").icon
                img(class="icon", src= u.profile_icon, alt="profile icon")
                //- img(class="flag", src= "http://dcatcher.me/assets/" + s.currentlanguage.shortened + ".svg")
    ul
        li
            if (selected == "categories")
                a(href="/phrasebook/app/categories").active
                    b Categories
            else
                a(href="/phrasebook/app/categories")
                    b Categories
    div.sticky-push
    ul
        li
            if (selected == "languagechange")
                a(href="/phrasebook/app/language/change").flag.active
                    img(class="flag", src= "//dcatcher.me/assets/" + s.currentlanguage.shortened + ".svg", alt="current language")
            else
                a(href="/phrasebook/app/language/change").flag
                    img(class="flag", src= "//dcatcher.me/assets/" + s.currentlanguage.shortened + ".svg", alt= s.currentlanguage.shortened)
        li
            a(href="/phrasebook/app/user/settings")
                i(class="fa fa-fw fa-cog")
        li
            a(href="/phrasebook/logout")
                i(class="fa fa-fw fa-sign-out")
